nav.navbar
    .container
        .navbar-header
                  
        .navbar-brand ARM
      
          
        ul.nav.navbar-nav.navbar-right
            li
                a(ui-sref='main', ui-sref-active = 'active') Home

            li.dropdown(uib-dropdown)
                a.dropdown-toggle(uib-dropdown-toggle)
                    span {{ self.user.username }}
                    span.caret

                ul.uib-dropdown-menu(uib-dropdown-menu)
                    li: a(ng-click='self.logout()')
                        | Logout



.container
    .col-sm-6.map

    .col-sm-6.notes
        .form-group
            btn.btn.btn-success(ng-click = 'self.createNote()') Create new Note

        table.table.table-hover
            thead
                tr
                  th Note
                  th Created
                  th Actions

              tbody.note(ng-repeat = 'note in self.notes', ng-init = 'note.edit = false')
                tr(ng-if = '!note.edit')
                  td {{ note.text }}
                  td {{ note.created | date: medium }}
                  td.actions
                    i.fa.fa-pencil(ng-click='note.edit = !note.edit')
                    i.fa.fa-trash(ng-click='self.deleteNote(note)')

                tr(ng-if = 'note.edit')
                  td: input(ng-model='note.text')
                  td {{ note.created | date: medium }}
                  td.actions
                    i.fa.fa-check(ng-click='self.updateNote(note)')

    footer.footer
        p &copy; 2015 Vlad's awesome company, Inc.