nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href='#') ARM
        .navbar-collapse.collapse

            ul.nav.navbar-nav.navbar-right
                li
                    a(ng-click='self.logout()') Logout