// MAIN PAGE STYLES

body.main {
  background-color: #e5e5e5;

  .navbar {
    overflow: visible;
    padding-top: 15px;
    li {
      cursor: pointer;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }
  .notes {
    padding: 0;
  }

  .block {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    position: relative;
    padding: 5px;
    &:hover { box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20); }

    .add-container {
      width: 100%;
      .col {
        padding: 0;
        input {
          margin: 0;
          border-right: 0;
          border-radius: 0;
        }

        .btn {
          border-radius: 0;
          border-left: 0;
        }
      }
    }
  }
  .note {
    width: 100%;
    list-style: none;
    border-top: 1px;
    .text {
      float: left;

    }
    tr, td {
      border: 0;
    }

    .actions {
      float: right;
      .fa {
        font-size: 20px;
        margin: 0 2px;
        cursor: pointer;
      }
      .fa-pencil {
        color: green;
        &:hover {
          color: darken(green, 10%);
        }
      }
      .fa-trash {
        color: red;
        &:hover {
          color: darken(red, 10%);
        }
      }
    }
  }

  hr {
    margin: 30px;
  }

  .todo {

    .table {
      .input-group {
        .btn-calendar {
          position: absolute;
        }
      }

      .done {
        opacity: 0.6;
      }
    }
  }

  .map {
    height: 400px;
    padding: 0;
    margin-bottom: 15px;

    ui-gmap-google-map {
      .angular-google-map, .angular-google-map-container {
        height: 100%;
      }
      .map-popup {
        text-align: left;
        p {
          padding: 0;
          &.title {
            font-weight: bold;
          }
        }
        .image {
          height: 100px;
          width: 150px;
          background-size: cover;
        }
      }
    }
  }

  footer {
    float: right;
  }
}
