@import 'variables';

/* ==========================================================================
   Navbar common styles
   ========================================================================== */
.navbar {
  border-radius: 0;
  overflow: hidden;
  margin: 0;
  border: 0;
  z-index: 2;
  background-color: $primary-color;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;

  .navbar-header {
  }

  li a {
    color: #fff; 
  }

  li a:hover, li.open a{
    background-color: darken($primary-color, 10%) !important;
  }
}