$root: "./../../..";
$modules: "${root}/node_modules";
$fonts-folder: "${root}/front/fonts";

$screen-sm: 750px;
$screen-md: 970px;
$screen-lg: 1170px;

$primary-color: #cccccc;
$primary-color-darken: darken($primary-color, 15%);
$primary-color-lighten: lighten($primary-color, 15%);

$secondary-color: #2196f3;
$secondary-color-darken: darken($secondary-color,  10%);
$secondary-color-lighten: lighten($secondary-color, 10%);
