.col-md-6.col-lg-4.col-md-offset-3.col-lg-offset-4(ng-switch = 'self.view')

    .signin-container.well(ng-switch-when = 'signin')
        .signin-header
            .brand
                h2 Arm

        .signin-form
            h5 Create new account
            form(ng-submit='self.signUp(self.credentials_signup)')
                .form-group
                    input.form-control(ng-model = 'self.credentials_signup.username', type='text', placeholder='Username')
                .form-group
                    input.form-control(ng-model = 'self.credentials_signup.password', type='password', placeholder='Password')
                .form-group
                    input.form-control(ng-model = 'self.credentials_signup.password_check', type='password', placeholder='Confirm Password')

                .form-actions
                    button.btn.btn-primary(type='submit') Sign In

    .signup-container.well(ng-switch-when = 'signup')
        .signin-header
            .brand
                h2 Arm

        .signin-form
            h5 Login
            form(ng-submit='self.signIn(self.credentials_signin)')
                .form-group
                    input.form-control(ng-model = 'self.credentials_signin.username', type='text', placeholder='Username')
                .form-group
                    input.form-control(ng-model = 'self.credentials_signin.password', type='password', placeholder='Password')
                .form-actions
                    button.btn.btn-primary(type='submit') Sign Up

    .switch(ng-switch-when = 'signup')
        | Already have account?
        a(ng-click = "self.view = 'signin'") &nbsp Sign In.

    .switch(ng-switch-when = 'signin')
        | New?
        a(ng-click = "self.view = 'signup'") &nbsp Sign Up.